<style>
    .evntButton {
        width: 12vw;
        height: 6vh;
        background-color: white;
    }

    .hyperLinkEvnt {
        display: inline-block;
        height: 6vh;
        position: absolute;
        left: 0vh;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    .dynEvntDiv {
        display:flex;
        width: 68.9vw;
        height: 8vh;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid rgb(71, 71, 71);
    }
</style>
<div class="dynEvntDiv">
    <% var fullSize = 68.9; %>
    <a id=<%="evntHypr" + index%> style=<%= "left:" + fullSize*(event.relativeStart/totalDuration) + "vw; width:" + event.relativeDuration + "vh;" %> href="<%= "/editEvent?_id=" + _id + "&reacId=" + reacId + "&evntId=" + event._id + "&routId=" + routId%>" class="hyperLinkEvnt">
        <button name="<%=event.relativeStart%>" value="<%=event.relativeDuration%>" id=<%="evntButt" + index%> class="evntButton" type="button" style=<%= "width:" + fullSize*(event.relativeDuration/totalDuration) + "vw;" %>><%= event.name %></button>
    </a>
</div>