<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/styles/addReacPageStyles.css">
        <link rel="icon" href="./pictures/logo.ico" type="image/x-icon">
        <title> Add Reactor </title>

    </head>
    <body>
        <%- include('./partials/nav.ejs', {name: username}) %>
        <div class="div1">

            <button class="reacIconButton"></button>

            <form action="/createOrSave" method="post">
                <label for="username" class="nameLabel">Name:</label>
                <input type="text" id="name" name="name" class="nameInput" value="<%= data.name %>">
                <input type="hidden" id="_id" name="_id" value="<%= _id  %>">
                <input type="hidden" id="reacId" name="reacId" value="<%= data._id %>">
                <input type="hidden" id="tempId" name="tempId" value="<%= reac._id %>">
                <% if (!reac.isEdit) { %>
                    <button class="confirmButt" name="type" value="concrete">Save Changes</button>
                <% } else { %>
                    <button class="confirmButt" name="type" value="create">Create Reactor</button>
                <% } %>
                <button class="backButt" name="type" value="save">Back</button>
            </form>

            <% if (!isCreationEdit) { %>
                <form action="/deleteReac" method="post">
                    <button class="deleteButt">Delete Reactor</button>
                    <input type="hidden" id="reacId" name="reacId" value="<%= reac._id %>">
                    <input type="hidden" id="_id" name="_id" value="<%= _id  %>">
                </form>
            <% } %>

            <% if (isCreationEdit) { %>
                <form action="/dicardEdit" method="post">
                    <button class="discardButt">Discard Edit</button>
                    <input type="hidden" id="_id" name="_id" value="<%= _id  %>">
                </form>
            <% } else { %>
                <form action="/dicardEdit" method="post">
                    <button class="discardButt">Discard Edit</button>
                    <input type="hidden" id="_id" name="_id" value="<%= _id  %>">
                    <input type="hidden" id="reacId" name="reacId" value="<%= reac._id  %>">
                </form>
            <% } %>
        </div>
        <div class="compModule">
            <a href="/sensor">
                <button class="addSensButt">+</button>
            </a>
            <div class="sensList"></div>

            <button class="addActuButt"></button>
            <div class="actuList"></div>

            <button class="addAlarButt"></button>
            <div class="alarList"></div>
        </div>
        <div class="routineModule">
            <button class="addRoutButt"></button>
            <div class="routList"></div>
        </div>
        
    </body>
</html>