<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/styles/evntSettingsStyle.css">
        <link rel="icon" href="../../pictures/logo.ico" type="image/x-icon">
        <title> Add Event </title>
        <script>

            function disableInput() {

                document.getElementById("newStart").disabled = true;
                document.getElementById("newEnd").disabled = true;
                document.getElementById("newEvntName").disabled = true;
                document.getElementById("newNormalType").disabled = true;
                document.getElementById("newEsporadicType").disabled = true;

            }

            function enableInput() {

                if (document.getElementById("newNormalType").checked) {
                    document.getElementById("newStart").disabled = false;
                }

                document.getElementById("newEnd").disabled = false;
                document.getElementById("newEvntName").disabled = false;
                document.getElementById("newNormalType").disabled = false;
            }

            async function onLoadFunc() {

                if (document.getElementById("newEsporadicType").checked) {
                    document.getElementById("newStart").disabled = true;
                } else {
                    document.getElementById("newStart").disabled = false;
                }

            }

            function changedEnd() {
                const buttName = "actiButt";
                const hyprName = "actiHypr";
                var i = 0;
                var currButt = true;
                var currHypr = true;
                var size = document.getElementById("newEnd").value - document.getElementById("newStart").value;
                var fullSize = 50;

                while (currButt) {
                    currButt = document.getElementById(buttName + i);
                    currHypr = document.getElementById(hyprName + i);

                    if (currButt) {
                        var start = Number(currButt.name);
                        var end = Number(currButt.value);

                        var newSize = fullSize * ((end - start)/size);
                        var newLeft = fullSize * ((start - document.getElementById("newStart").value)/size);

                        currButt.style.width = newSize + "vw";
                        currHypr.style.left = newLeft + "vw";
                    }

                    i += 1;
                }
                
            }

            async function timeChange() {

                document.getElementById("newStart").disabled = true;
                document.getElementById("newEnd").disabled = true;

                await saveEvent();
                
                changedEnd();

                //call changeSizes
                document.getElementById("newStart").disabled = false;
                document.getElementById("newEnd").disabled = false;

            }

            async function saveEvent() {

                disableInput();

                const newName = document.getElementById("newEvntName").value;
                const newStart = document.getElementById("newStart").value;
                const newEnd = document.getElementById("newEnd").value;
                const evntId = document.getElementById("evntId").value;
                const routId = document.getElementById("routId").value;
                var newGroup;

                if (document.getElementById("newNormalType").checked) {
                    newGroup = "normal";
                } else {
                    newGroup = "esporadic";
                }

                const takenUrl = "http://localhost:3000/api/event/saveEvent";

                const responseCheck = await fetch(takenUrl, {method: "post", headers: {"Content-Type": "application/json"}, body: JSON.stringify({
                evntId: evntId,
                routId: routId,
                newEvntName: newName,
                newGroup: newGroup,
                newStart: newStart,
                newEnd: newEnd})});

                enableInput();

                return;
            }

            async function typeChange() {

                await saveEvent();

                if (document.getElementById("newEsporadicType").checked) {
                    document.getElementById("newStart").disabled = true;
                } else {
                    document.getElementById("newStart").disabled = false;
                }

            }
 
        </script>
    </head>
    <body onload="onLoadFunc()">
        <%- include('./partials/nav.ejs', {name: user.username, _id: user._id}) %>
        <div class="div1">

            <a href="/api/routine/editRoutine?_id=<%= user._id + "&reacId=" + reacId + "&routId=" + routId%>">
                <button class="backButt">Back</button>
            </a>

            <label for="" class="nameLabel">Nome</label>
            <input type="text" name="newEvntName" id="newEvntName" class="nameInput" value="<%= event.name %>" onchange="saveEvent()">
            <br><br>

            <% if (event.type === "esporadic") { %>
                <label for="" class="normalLabel">Normal</label>
                <input type="radio" name="group" id="newNormalType" class="normalRadio" onchange="typeChange()">
                <label for="" class="esporadicLabel">Esporadic</label>
                <input type="radio" name="group" id="newEsporadicType" class="esporadicRadio" checked onchange="typeChange()">
            <% } else { %>
                <label for="" class="normalLabel">Normal</label>
                <input type="radio" name="group" id="newNormalType" class="normalRadio" checked onchange="typeChange()">
                <label for="" class="esporadicLabel">Esporadic</label>
                <input type="radio" name="group" id="newEsporadicType" class="esporadicRadio" onchange="typeChange()" disabled>
            <% } %>

            <div class="div2">
                <% for (let i=0; i<actions.length; i+=1) { %>
                    <%- include('./partials/actiButton.ejs', {action: actions[i], _id: user._id, reacId: reacId, routId: routId, event: event, index: i}) %>
                <% } %>
            </div>

            <input type="number" name="newStart" id="newStart" class="startInput" value="<%= event.start %>" onchange="timeChange()" min="0" max="<%= maxStart %>">
            <label for="" class="startLabel">Start</label>

            <input type="number" name="newEnd" id="newEnd" class="endInput" value="<%= Math.max(event.end, minDuration) %>" min="<%= minDuration %>" onchange="timeChange()">
            <label for="" class="endLabel">End</label>

            <a href="/api/action/editAction?_id=<%= user._id + "&reacId=" + reacId + "&routId=" + routId + "&evntId=" + event._id + "&actiId=" + event.creationAction %>">
                <button class="addActionButt" name="type" value="saveActions">Add Action</button>
            </a>

            <input type="hidden" id="_id" name="_id" value=<%= user._id %>>
            <input type="hidden" id="reacId" name="reacId" value=<%= reacId %>>
            <input type="hidden" id="routId" name="routId" value=<%= routId %>>
            <input type="hidden" id="evntId" name="evntId" value=<%= event._id %>>

            <% if (event.isCreation) { %>
                <form action="/api/event/createEvent" method="post">
                    <button class="confirmButt">Create Event</button>
                    <input type="hidden" name="_id" value=<%= user._id %>>
                    <input type="hidden" name="reacId" value=<%= reacId %>>
                    <input type="hidden" name="routId" value=<%= routId %>>
                    <input type="hidden" name="evntId" value=<%= event._id %>>
                </form>
                <form action="/api/event/dicardEventEdit" method="post">
                    <button class="discardButt">Discard Edit</button>
                    <input type="hidden" name="_id" value=<%= user._id %>>
                    <input type="hidden" name="reacId" value=<%= reacId %>>
                    <input type="hidden" name="routId" value=<%= routId %>>
                    <input type="hidden" name="evntId" value=<%= event._id %>>
                </form>
            <% } else { %>
                <form action="/api/event/deleteEvent" method="post">
                    <button class="deleteButt">Delete Event</button>
                    <input type="hidden" name="_id" value=<%= user._id %>>
                    <input type="hidden" name="reacId" value=<%= reacId %>>
                    <input type="hidden" name="routId" value=<%= routId %>>
                    <input type="hidden" name="evntId" value=<%= event._id %>>
                </form>
            <% } %>

        </div>
    </body>
</html>