<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/reacViewStyles.css">
        <link rel="icon" href="./pictures/logo.ico" type="image/x-icon">
        <title> Reac View </title>
    </head>
    <body>
        <%- include('./partials/nav.ejs', {name: username, _id: _id}) %>
        <div class="div1">
            <a href="/start?_id=<%= _id %>">
                <button class="backButt">Back</button>
            </a>

            <label class="reactorLabel" for="reactor">Reactor:</label>
            <select class="reactorSelect" name="reactor" id="" disabled>
                <option value="<%= data.name %>"><%= data.name %></option>
            </select>
            <a href="/editReac?_id=<%= _id %>&reacId=<%= data._id %>">
                <button class="erButton">Edit Reactor</button>
            </a>

            <form action="/deleteReactor" method="post">
                <button class="deleteButt">Delete Reactor</button>
                <input type="hidden" id="_id" name="_id" value=<%= _id %>>
                <input type="hidden" id="reacId" name="reacId" value=<%= data._id %>>
            </form>

            <button class="hdButton">All Historic Data</button>
            <div class="div2">
            </div>
            <div class="div3">
            </div>
            <button class="ldButton">All Log Data</button>
            <div class="div4">
            </div>
        </div>
    </body>
</html>