<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/styles/addRoutPageStyles.css">
        <link rel="icon" href="../../pictures/logo.ico" type="image/x-icon">
        <title> Add Routine </title>

        <script>
            async function saveRoutine() {

                const newName = document.getElementById("newRoutName").value;
                const routId = document.getElementById("routId").value;

                const takenUrl = "http://localhost:3000/api/routine/saveRoutine";

                const responseCheck = await fetch(takenUrl, {method: "post", headers: {"Content-Type": "application/json"}, body: JSON.stringify({
                routId: routId,
                newRoutName: newName})});
            }
        </script>

    </head>
    <body>
        <%- include('./partials/nav.ejs', {name: user.username, _id: user._id}) %>
        <div class="div1">

            <a href="/api/reactor/editReactor?_id=<%= user._id + "&reactorId=" + reacId%>">
                <button class="backButt">Back</button>
            </a>

            <br>
            <label for="" class="nameLabel">Name</label>
            <br>

            <input type="text" name="newRoutName" id="newRoutName" class="inputName" value="<%= routine.name %>" onchange="saveRoutine()">

            <div class="div2">
                <% for (let i=0; i<events.length; i+=1) { %>
                    <%- include("./partials/normalEvntButton.ejs", {event: events[i], _id: user._id, reacId: reacId, routId: routine._id, index: i, totalDuration: minDuration}) %>
                <% } %>
            </div>

            <a href="/api/event/editEvent?_id=<%= user._id + "&reacId=" + reacId + "&routId=" + routine._id + "&evntId=" + routine.creationEvent %>">
                <button class="addEvtButt">Add Event</button>
            </a>

            <div class="div3">
                <% for (let i=0; i<espEvents.length; i+=1) { %>
                    <%- include("./partials/esporadicEvntButton.ejs", {event: espEvents[i], _id: user._id, reacId: reacId, routId: routine._id, index: i, totalDuration: minDuration}) %>
                <% } %>
            </div>

            <input type="hidden" id="routId" name="routId" value=<%= routine._id %>>
            <input type="hidden" id="reacId" name="reacId" value=<%= reacId %>>
            <input type="hidden" id="_id" name="_id" value=<%= user._id %>>

            <a href="/api/alarm/editAlarm?_id=<%= user._id + "&reacId=" + reacId + "&routId=" + routine._id + "&alrmId=" + routine.creationAlarm %>">
                <button class="addAlrmButt" name="type" id="type" value="saveAlarms" disabled>Add Alam</button>
            </a>

            <div class="div4">
                <% for (let i=0; i<alarms.length; i+=1) { %>
                    <%- include('./partials/alrmButton.ejs', {alarm: alarms[i], _id: user._id, routId: routine._id, reacId: reacId}) %>
                <% } %>
            </div>

            <% if (routine.isCreation) { %>
                <form action="/api/routine/createRoutine" method="post">
                    <button class="confirmButt">Create Routine</button>
                    <input type="hidden" name="_id" value=<%= user._id %>>
                    <input type="hidden" name="reacId" value=<%= reacId %>>
                    <input type="hidden" name="routId" value=<%= routine._id %>>
                </form>
                <form action="/api/routine/dicardRoutineEdit" method="post">
                    <button class="discardButt">Discard Edit</button>
                    <input type="hidden" name="_id" value=<%= user._id %>>
                    <input type="hidden" name="routId" value=<%= routine._id %>>
                    <input type="hidden" name="reacId" value=<%= reacId %>>
                </form>
            <% } else { %>
                <form action="/api/routine/deleteRoutine" method="post">
                    <button class="deleteButt">Delete Routine</button>
                    <input type="hidden" name="_id" value=<%= user._id %>>
                    <input type="hidden" name="routId" value=<%= routine._id %>>
                    <input type="hidden" name="reacId" value=<%= reacId %>>
                </form>
            <% } %>

        </div>
    </body>
</html>